.header,
.article,
.footer {
  font-family: 'Sorts Mill Goudy', serif;
  color: #555;
}

.article p {
  font-size: 1.2rem;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.3rem;
}

.kata-container.centered {
  margin-left: auto;
  margin-right: auto;
}

.kata-container.regular {
  width: 960px;
  margin-top: 25px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.footer a {
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
}

.kata-container h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #e74c3c;
  margin: 0;
}

.kata-container a {
  color: #e74c3c;
  text-decoration: none;
}