a {
  cursor: pointer;
}

.linkback-container {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 500;
  background-color: #e74c3c;
  text-align: center;
  padding: 5px 0;
}

.linkback-container a {
  color: #fff;
  text-decoration: none;
}

.header,
.article,
.footer {
  font-family: 'Sorts Mill Goudy', serif;
  color: #555;
}

img {
  max-width: 100%;
}

img.centered {
  display: block;
  margin: 0 auto;
}

.article p {
  font-size: 1.2rem;
}

pre,
code {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 0.9rem;
  line-height: 1.3rem;
  overflow: auto;
  padding: 0 10px;
}

.kata-container.centered {
  margin-left: auto;
  margin-right: auto;
}

.kata-container.regular {
  max-width: 700px;
  padding: 0 5%;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.footer a {
  text-transform: uppercase;
  text-decoration: none;
}

.kata-container h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #e74c3c;
  margin: 0;
}

.kata-container a,
.kata-container a:visited {
  color: #e74c3c;
  text-decoration: none;
}

.kata {
  overflow: auto;
}

.warning {
  color: #e74c3c;
}

.article li {
  margin-bottom: 10px;
}

.article h2 {
  margin-top: 2em;
}
