body {
	width: 960px;
	margin: 25px 10%;
}

.header {
	font-family: 'Open Sans', sans-serif;
}

.cleanrich-card {
	position: relative;
	width: 800px;
	margin: 25px 0;
	color: #3b3b3b;
	display: flex;
}

.cleanrich-card .moverlink {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
}

.cleanrich-card img {
	cursor: pointer;
	width: 200px;
	height: 200px;
}

.cleanrich-card .info-container {
	margin-left: 10px;
}

.cleanrich-card .title {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 36px;
	margin: 0;
	text-decoration: none;
	color: #3b3b3b;
}

.cleanrich-card:hover .title {
	color: #ed2b23;
}

.cleanrich-card .author {
	font-family: 'Arvo', serif;
	font-size: 13.5px;
	text-transform: uppercase;	
}

.cleanrich-card .description {
	margin: 0;
	font-size: 13.5px;
	font-family: 'Open Sans', sans-serif;
}